div{
    box-sizing: border-box;
}
.new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9;
}
/* 密码输入框下方线条颜色变化 */
@keyframes line1{
    0% {flex:0;width: 0;}
    100% {flex:1}
}
@keyframes line2{
    0% {flex:0;width: 0;}    
    100% {flex:1}
}
@keyframes line3{
    0% {flex:0;width: 0;}
    100% {flex:1}
}

@keyframes refreshingRotated{
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.refreshing{
   animation: refreshingRotated 1s infinite;
}

/* 水波纹点击效果 */
@keyframes rippleVary{
    0% {transform: scale(0);opacity: .3;}
    100% {transform: scale(10);opacity: 0;}
}
.ripple {
    position: relative;
    overflow: hidden;
}
.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 20%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    animation: rippleVary 0.5s;
}
.scrollSmooth{
    scroll-behavior: smooth;
}