/** 开关图形 */
.switch_icon::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    border-radius: 100%;
    transition: all .3s;
    width: 42px;
    height: 42px;
    background-color: #fff;
}
.switch_icon_select::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    border-radius: 100%;
    transition: all .3s;
    width: 42px;
    height: 42px;
    background-color: #fff;
    left: 100%;
    margin-left: -43px;
}
.pi-input ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cccccc;
}
.pi-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cccccc;
}
.pi-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cccccc;
}
.pi-input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cccccc;
}

.chat-input textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #cccccc;
}
.chat-input textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cccccc;
}
.chat-input textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cccccc;
}
.chat-input textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#cccccc;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

/* 点击骰子旋转效果 */
@keyframes rotating{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.random{
    animation: rotating 1s;
}
.emojiMsg{
    width: 48px;
    height: 48px;
}
.imgMsg{
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 12px;
}
.linkMsg{
    color: #0c6bc7;
}
/* 语音消息录制时动画 */
@keyframes radio1{
    50% {opacity: 0}
    90%{opacity: 0}
    100% {opacity: 1;}
}
@keyframes radio2{
    50% {opacity: 0}
    60%{opacity: 1}
    100% {opacity: 1;}
}