@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
/* 打开宝箱 */
@keyframes openChest{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25%{
      -webkit-transform: rotate(5deg) ;
      transform: rotate(5deg) ;
    }
    50%{
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    75%{
      -webkit-transform: rotate(5deg) ;
      transform: rotate(5deg) ;
    }
    100%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
}
/* 开始转盘 */
@keyframes startTurnTable{
    0%{
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* 重置宝箱 */
@keyframes resetChest{
    0%{
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    40%{
        -webkit-transform: scale(0) translateY(20px);
        transform: scale(0) translateY(20px);
        opacity: 0;
    }
    59%{
        -webkit-transform: scale(0) translateY(20px);
        transform: scale(0) translateY(20px);
        opacity: 0;
    }
    60%{
        -webkit-transform: scale(1) translateY(-30px);
        transform: scale(1) translateY(-30px);
        opacity: 0;
    }
    100%{
        -webkit-transform:  scale(1) translateY(0px);
        transform:  scale(1) translateY(0px);
        opacity: 1;
    }
}

/*由小变大出现*/
@keyframes smallToBig{
  0%{
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*由浅变深出现*/
@keyframes fadein{
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}


/*光芒闪耀*/
@keyframes sunShine{
  0%{
    -webkit-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2);
  }
  25%{
    -webkit-transform: rotate(90deg) scale(1.2);
    transform: rotate(90deg) scale(1.2);
  }
  50%{
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  75%{
    -webkit-transform: rotate(270deg) scale(1.3);
    transform: rotate(270deg) scale(1.3);
  }
  100%{
    -webkit-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes downToTop{
  0%{
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
  }
  25%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  75%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100%{
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
}
/*宽度渐变出现*/
@keyframes gradually-width{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.smallToBig{
  animation: smallToBig 0.3s ease-out;
}
.sunShine{
  animation: sunShine 20s linear infinite;
}
.fadein{
  animation: fadein 0.5s ease;
}
.isOpenbox{
  animation: openBox 0.4s ease infinite;
}
.startTurnTable{
  animation: startTurnTable 0.2s ease;
}
.down-to-top{
  animation: downToTop 5s ease infinite;
}
.gradually-width{
    animation: gradually-width 1s ease-out; 
}


.mine-animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.grayscale{ 
  filter: grayscale(100%);
  filter: gray;
  
}


@keyframes hoeMining{
  0%{
    transform: rotateZ(45deg);
  }
  
  100%{
    transform: rotateZ(-45deg);
  }
}

.animated-hoeMining {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hoeMining;
    animation-name: hoeMining;
}

.put-out-up{
  transform: translateY(-400px);
}
.put-out-down{
  transform: translateY(1500px);
}
.reset-put-out{
  transform: translateY(0px);
}

.btnClick{
  box-shadow: 0px 5px 0px transparent!important;
  transform: scale(0.95);
  transition: all 0.1s ease;
}

@keyframes shake{
  2% {
    transform: translate(-7px, 5px) rotate(1.5deg);
  }
  4% {
      transform: translate(5px, -8px) rotate(1.5deg);
  }
  6% {
      transform: translate(-2px, 8px) rotate(1.5deg);
  }
  8% {
      transform: translate(-7px, 1px) rotate(-2.5deg);
  }
  10% {
      transform: translate(-2px, 8px) rotate(3.5deg);
  }
  12% {
      transform: translate(-3px, -8px) rotate(-1.5deg);
  }
  14% {
      transform: translate(-8px, -7px) rotate(2.5deg);
  }
  16% {
      transform: translate(0px, 1px) rotate(.5deg);
  }
  18% {
      transform: translate(-2px, -1px) rotate(-1.5deg);
  }
  20% {
      transform: translate(7px, 0px) rotate(-2.5deg);
  }
  22% {
      transform: translate(8px, -6px) rotate(-1.5deg);
  }
  24% {
      transform: translate(1px, -4px) rotate(-.5deg);
  }
  26% {
      transform: translate(-2px, 9px) rotate(3.5deg);
  }
  28% {
      transform: translate(1px, -5px) rotate(-1.5deg);
  }
  30% {
      transform: translate(-2px, 7px) rotate(.5deg);
  }
  32% {
      transform: translate(9px, 3px) rotate(3.5deg);
  }
  34% {
      transform: translate(2px, 5px) rotate(3.5deg);
  }
  36% {
      transform: translate(7px, -3px) rotate(-1.5deg);
  }
  38% {
      transform: translate(0px, -1px) rotate(3.5deg);
  }
  40% {
      transform: translate(10px, 0px) rotate(-2.5deg);
  }
  42% {
      transform: translate(9px, 10px) rotate(2.5deg);
  }
  44% {
      transform: translate(-3px, 9px) rotate(3.5deg);
  }
  46% {
      transform: translate(9px, -9px) rotate(3.5deg);
  }
  48% {
      transform: translate(2px, -4px) rotate(-1.5deg);
  }
  50% {
      transform: translate(5px, 10px) rotate(-1.5deg);
  }
  52% {
      transform: translate(-4px, -8px) rotate(-2.5deg);
  }
  54% {
      transform: translate(10px, -4px) rotate(1.5deg);
  }
  56% {
      transform: translate(4px, -6px) rotate(-1.5deg);
  }
  58% {
      transform: translate(2px, 2px) rotate(-1.5deg);
  }
  60% {
      transform: translate(-8px, 10px) rotate(-.5deg);
  }
  62% {
      transform: translate(-2px, 1px) rotate(3.5deg);
  }
  64% {
      transform: translate(9px, -4px) rotate(-.5deg);
  }
  66% {
      transform: translate(-3px, -3px) rotate(.5deg);
  }
  68% {
      transform: translate(4px, 7px) rotate(1.5deg);
  }
  70% {
      transform: translate(9px, 2px) rotate(2.5deg);
  }
  72% {
      transform: translate(-1px, -2px) rotate(1.5deg);
  }
  74% {
      transform: translate(-7px, 5px) rotate(.5deg);
  }
  76% {
      transform: translate(-6px, 4px) rotate(-2.5deg);
  }
  78% {
      transform: translate(-9px, 1px) rotate(.5deg);
  }
  80% {
      transform: translate(9px, 10px) rotate(2.5deg);
  }
  82% {
      transform: translate(-9px, -5px) rotate(2.5deg);
  }
  84% {
      transform: translate(9px, -9px) rotate(.5deg);
  }
  86% {
      transform: translate(2px, 2px) rotate(.5deg);
  }
  88% {
      transform: translate(7px, -1px) rotate(2.5deg);
  }
  90% {
      transform: translate(-1px, 8px) rotate(-1.5deg);
  }
  92% {
      transform: translate(1px, 0px) rotate(.5deg);
  }
  94% {
      transform: translate(1px, -6px) rotate(3.5deg);
  }
  96% {
      transform: translate(-3px, 1px) rotate(3.5deg);
  }
  98% {
      transform: translate(9px, -9px) rotate(-2.5deg);
  }
  0%, 100% {
      transform: translate(0, 0) rotate(0);
  }
}
.shake{
  animation: shake 2s ease-in-out infinite;
}